In [2]:
# standard imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as pltt
%matplotlib inline

# Getting our data Ready
3 things we have to do :
1. split the data into feature and lebel (usually 'X' and 'y')
2. filling( also  called imputing) or disregarding missing values
3. converting non numerical values to nuerical values ( also called feature encoding )

In [3]:
heart_disease = pd.read_csv('data/heart-disease.csv')
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
X = heart_disease.drop('target',axis=1)
Y = heart_disease.target

In [8]:
# split the data into training and test data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [12]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))